<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <title>Home</title>
</head>
<body>
    <header>
        <%- include('../partials/nav'); %>
    </header>

    <div class="container">
        <main>
            <h1>EPF Details </h1>
            <br>
            <h3>For research  create small application EPF details.</h3>
            <h3>office -> employee -> EPF -> EPF balance  </h3>
        </main>
    </div>
    
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>